<ul>
  @for (item  of  userList$ | async; track item.id) {

    <li>{{item.username}}</li>
  }
</ul>
<app-alert [alertType]="'Success'"
           [message]="'Wow, Hello from client page'" ></app-alert>
<div class="row">
  <div class="col-8">
    <div class="card">
        <div class="card-header bg-success">
          Client List - {{currentDate | date: 'dd/MM/yyyy'}}
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Sr No</th>
                    <th>Company Name</th>
                    <th>Person Name</th>
                    <th>Contact No</th>
                    <th>City</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    @for (item of clientList; track $index) {
                      <tr>
                        <td>{{ $index+1 }}</td>
                        <td>{{ item.companyName | uppercase}}</td>
                        <td>{{ item.contactPersonName }}</td>
                        <td>{{ item.contactNo }}</td>
                        <td>{{ item.city }}</td>
                        <td>
                          <button class="btn btn-primary m-2" (click) = "onEditItem(item);">Edit</button>
                          <button class="btn btn-danger m-2" (click) = "onDeleteItem(item.clientId);">Delete</button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Client
      </div>
      <div class="card-body">
        <form #form="ngForm">
          <div class="row">
            <div class="col-6">
              <label for="">Person Name</label>
              <input type="text" class="form-control" name="contactPeronName" minlength="5" #personName="ngModel" required [(ngModel)] = "clientObj.contactPersonName"/>
              @if(personName.touched){
                <div class="text-danger">
                  @if (personName?.errors?.['required']) {
                    <span>This is required message</span>

                  }
                  @if(personName?.errors?.['minlength']){
                    <span>Minimum length 5 Chars are required</span>

                  }
                </div>
              }
            </div>
            <div class="col-6">
              <label for="">Contact Number</label>
              <input type="text" class="form-control" name="contactNumber" [(ngModel)] = "clientObj.contactNo"/>
            </div>
            <div class="col-6">
              <label for="">Company Name</label>
              <input type="text" class="form-control" name="companyName" [(ngModel)] = "clientObj.companyName"/>
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)] = "clientObj.city"/>
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" class="form-control" name="state" [(ngModel)] = "clientObj.state"/>
            </div>
            <div class="col-6">
              <label for="">Pincode</label>
              <input type="text" class="form-control" name="pincode" [(ngModel)] = "clientObj.pincode"/>
            </div>
            <div class="col-6">
              <label for="">Address</label>
              <textarea class="form-control" name="address" [(ngModel)] = "clientObj.address"></textarea>
            </div>
            <div class="col-6">
              <label for="">Employee Strength</label>
              <input type="text" class="form-control" name="employeeStrength" [(ngModel)] = "clientObj.employeeStrength"/>
            </div>
            <div class="col-6">
              <label for="">GST No</label>
              <input type="text" class="form-control" name="gstNo" [(ngModel)] = "clientObj.gstNo"/>
            </div>
            <div class="col-6">
              <label for="">Registration Number</label>
              <input type="text" class="form-control" name="regnNo" [(ngModel)] = "clientObj.regNo"/>
            </div>
            <div class="row pt-2">
              <div class="col-6 text-center">
                <app-my-button [buttonClass]="'btn btn-success'"
                               [buttonText]="clientObj.clientId != 0 ? 'Update Client' : 'Save Client'"
                               (onBtnClicked)="onSaveClient($event)" ></app-my-button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-success">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
